.menu {
  display: flex;
  height: 100%;
  text-transform: uppercase;

  li {
    border-bottom: 1px solid transparent;
    transition: 150ms;

    &:hover,
    &.active {
      font-weight: 600;
      color: #5ece7b;
      border-color: #5ece7b;
    }

    a {
      display: inline-block;
      height: 100%;
      padding: 1.5rem 0.63rem 0;
    }
  }
}
