.products h3 {
  margin-bottom: 6.25rem;
  font-size: 2.63rem;
  text-transform: capitalize;
}

.products ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 6.25rem;
  grid-column-gap: 2.5rem;
}

.products li {
  padding: 1rem;
  transition: 0.3s;
  box-shadow: 0 0 1rem rgb(168 172 176 / 20%);
}

.products li:hover {
  box-shadow: 0 0 1rem rgb(168 172 176 / 50%);
}

.products a {
  display: inline-block;
  position: relative;
  width: 100%;
}

.products .nostock {
  position: absolute;
  left: 50%;
  top: 50%;

  font-size: 1.5rem;
  color: #8d8f9a;

  transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.products .incart {
  position: absolute;
  bottom: -1.88rem;
  right: 0;
}

.products img {
  width: 100%;
  height: 330px;
  object-fit: cover;
  object-position: center;
}

.products .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.products .info button {
  font-size: 10px;
  width: 30%;
  height: 30px;
  margin: 0;

  transition: 150ms ease-in;
}

.products .info button:hover {
  transform: scale(1.05);
}

.products h2 {
  font-size: 18px;
  font-weight: 300;
  margin: 14px 0 8px;
  margin-bottom: 8px;
}

.products span {
  font-size: 18px;
  font-weight: 500;
}
