.minicart-wrapper {
  font-size: 1rem;
  font-weight: 500;
  position: relative;
}

.cart-icon {
  cursor: pointer;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  left: 55%;
  bottom: 45%;

  width: 1.25rem;
  height: 1.25rem;
  background: #1d1f22;
  border-radius: 50%;

  font-family: Roboto;
  font-size: 0.88rem;
  font-weight: bold;
  color: #fff;
}

.minicart {
  position: absolute;
  top: 3.13rem;
  right: 0;

  width: 20.31rem;
  padding: 1rem;
  background: #fff;

  transition: 150ms;
  visibility: hidden;
  opacity: 0;

  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.minicart h4 {
  margin-bottom: 0.88rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.minicart .heading span {
  font-weight: 500;
  text-transform: lowercase;
}

.minicart .list li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.13rem;
}

.minicart .list h3,
.minicart .list h2 {
  font-size: 1rem;
  font-weight: 300;
  margin-bottom: 0.38rem;
}

.minicart .price {
  display: inline-block;
  font-weight: 500;
  margin: 0.25rem 0 0.5rem;
}

.minicart .options li {
  width: auto;
  height: 1.5rem;

  padding: 0.32rem;
  margin: 0 0.38rem 0 0;
  border: 1px solid #1d1f22;
}

.minicart .heading,
.minicart .options {
  display: flex;
  margin-bottom: 0.32rem;
  font-size: 0.75rem;
}

.minicart .options li {
  padding: 0.2rem;
}

.minicart .right {
  display: flex;
}

.minicart .quantity {
  margin-right: 0.5rem;
}

.minicart .quantity button {
  width: 1.5rem;
  height: 1.5rem;
}

.minicart img {
  width: 6.56rem;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.minicart .total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.88rem;

  font-size: 1rem;
  font-weight: bold;
  text-transform: capitalize;
}

.minicart .total:first-child {
  font-family: Roboto;
}

.minicart .buttons {
  display: flex;
  gap: 0.75rem;
}

.minicart {
  .button {
    height: 2.69rem;
    font-size: 0.88rem;
  }
}
