@use "style/mixins" as mix;

.product {
  &__row {
    display: grid;
    gap: 2rem;
    text-align: center;

    @include mix.desktop {
      grid-template-columns: 1.8fr 1fr;
      gap: 5rem;
      text-align: left;
    }
  }

  &__slider {
    display: grid;
    gap: 2rem;

    @include mix.desktop {
      grid-template-columns: 1fr 7.5fr;
    }
  }

  &__thumbs {
    display: flex;
    gap: 1rem;
    order: 1;

    max-width: 100%;
    margin: 0 auto;

    @include mix.desktop {
      flex-direction: column;
      gap: 2.5rem;
      height: 31.88rem;
      order: 0;
    }

    overflow: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }

    img {
      min-width: 5rem;
      height: 5rem;

      object-fit: cover;
      object-position: center;
      cursor: pointer;
    }
  }

  &__image {
    width: 100%;
    height: 31.88rem;
    object-fit: cover;
    object-position: center;
  }

  &__title {
    margin-bottom: 1.88rem;
    font-size: 1.88rem;
    font-weight: 400;
  }

  &__subtitle {
    margin-bottom: 0.75rem;
    font-size: 1.88rem;
    font-weight: 600;
  }

  &__label {
    display: block;
    margin-bottom: 0.75rem;

    font-family: Roboto Condensed;
    font-size: 1.13rem;
    text-transform: uppercase;
  }

  &__attribute {
    margin-bottom: 1.8rem;
  }

  &__options {
    justify-content: center;

    @include mix.desktop {
      justify-content: flex-start;
    }

    li {
      width: 3.75rem;
      height: 2.8rem;
      margin-right: 0.8rem;
      font-size: 1rem;

      @include mix.mobile {
        max-width: 3rem;
        height: 2.2rem;
      }
    }
  }

  &__price {
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__button {
    height: 3.25rem;
    margin-bottom: 1.88rem;
  }

  &__description {
    font-family: Roboto;
    font-weight: 400;
    font-size: 1rem;

    ul {
      list-style-type: disc;
      padding: 0 1rem;
    }

    p,
    li {
      margin-bottom: 1.5rem;
      line-height: 1.6;
    }

    h1,
    h3 {
      margin-bottom: 0.63rem;
      font-size: 1.13rem;
      font-weight: 500;
    }
  }
}
