.currencies {
  display: flex;
  align-items: center;

  font-size: 1.13rem;
  font-weight: 500;

  position: relative;

  span {
    display: inline-block;
    width: 0.94rem;
    cursor: pointer;
  }

  ul {
    flex-direction: column;

    position: absolute;
    right: 50%;
    top: 1.88rem;

    background: #fff;
    padding: 0.63rem 1.56rem;

    transform: translateX(50%);
    box-shadow: 0 0.125rem 1rem rgb(168 172 176 / 20%);

    transition: 150ms;
    visibility: hidden;
    opacity: 0;

    &.active {
      visibility: visible;
      opacity: 1;
    }

    li {
      display: flex;
      gap: 0.38rem;

      margin: 0.63rem 0;
      transition: 100ms ease-in;
      cursor: pointer;

      &:hover {
        font-weight: bold;

        i {
          transform: scale(1.1);
        }
      }
    }
  }
}
