.details {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  gap: 5rem;
}

.details .images {
  display: flex;
}

.details .images .others {
  display: flex;
  flex-direction: column;

  height: 31.88rem;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}

.details .images .others::-webkit-scrollbar {
  display: none;
}

.details .images .others img {
  width: 5rem;
  height: 5rem;
  margin-bottom: 2.5rem;

  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.details .images .default {
  width: 38.13rem;
  height: 31.88rem;
  margin-left: 2.5rem;

  object-fit: cover;
  object-position: center;
}

.details .info .subheading {
  margin-bottom: 0.75rem;
  font-size: 1.88rem;
  font-weight: 600;
}

.details .info h2 {
  margin-bottom: 1.88rem;
  font-size: 1.88rem;
  font-weight: 400;
}

.details .attribute {
  margin-bottom: 30px;
}

.details .options {
  display: flex;
}

.details .options li {
  width: 3.75rem;
  height: 45px;
  margin-right: 0.81rem;

  font-family: Source Sans Pro;
  font-size: 1rem;
}

.details .heading {
  display: block;
  margin-bottom: 0.75rem;

  font-family: Roboto Condensed;
  font-size: 1.13rem;
  text-transform: uppercase;
}

.details .amount {
  display: block;
  margin-bottom: 1.5rem;

  font-size: 1.5rem;
  font-weight: bold;
}

.btn-green {
  height: 3.25rem;
  margin-bottom: 1.88rem;
}

.btn-red {
  height: 3.25rem;
  margin-bottom: 1.88rem;
}

.description {
  font-family: Roboto;
  font-weight: 400;
  font-size: 1rem;
}

.description ul {
  list-style-type: disc;
}

.description p,
.description li {
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.description h1,
.description h3 {
  margin-bottom: 0.63rem;
  font-size: 1.13rem;
  font-weight: 500;
}
